@charset"UTF-8";

/*global*/
*{
	font-family:'Meiryo';
 	text-decoration:none;
	padding:0px;
	border:0px;
}

body,html{
	height:auto;
}

body{
	width:1000px;
	height:auto;
	margin:0px auto 0px;
	background-color:white;
}

ul{
	list-style:none;
}

p{
	background-color:white;
}

b{
	background-color:white;
}

a{
color:white;
}
a:visited{
color:white;
}

/*header*/
#ScienceClub{
font-size:30px;
line-height:60px;
width:1000px;
height:60px;
margin:0px auto 30px;
}

#ScienceClub p{
color:#fff;
background-color: #FF1B4C;
padding:0px 0px 0px 20px;
zoom:1;
}

/*menu*/
#menunav{
	width:1000px;
	height:50px;
	margin:-30px auto 0px;
	background-color:#b00;
}

#menunav ul{
	padding:0;
}

#menunav li{
list-style-type:none;
padding:0;
background-color:#b00;
float:left;
width:200px;
text-align:center;
line-height:50px;
vertical-align:middle;
}

#menunav li:hover{
list-style-type:none;
padding:0;
background-color:#e00;
float:left;
width:200px;
text-align:center;
line-height:50px;
vertical-align:middle;
}

#menunav  a{
font-size:20px;
background-color:#b00;
color:white;
}

#menunav a:visited{
	color:white;
}


#prev{
	background-color:wheat;
	color:gray;
	width:100px;
	height:20px;
	margin:0px auto 0px 100px;
}


/*footer*/

footer{
	margin:-30px auto auto 0px;
	width:1000px;
	text-align:center;
	background-color:orangered;
	background-color:#f50;
	line-height:50px;
	height:50px;
	position:absolute;
	bottom:auto;
	clear:both;
	zoom:1;
	color:darkorange;
	font-size:80%;
}