@charset"UTF-8";

html{
    background-image:url("../images/sa4.jpg");
    background-size:cover;
    background-attachment:fixed;
}

body{
    width:1000px;
    background-color:white;
    height:auto;
}

#robot{
  height:1200px;
  margin:0px;
  padding:0px;
}

.machineImage{
  padding:0px;
  border:0px;
  margin:0px;
  width:240px;
  height:240px;
}

/*2014年度*/
#o{
  position:relative;
}

#sa{
  position:relative;
}

#mu{
  position:relative;
}

#i{ 
  position:relative;
}

#to{
  position:relative;
}

#ki{
  position:relative;
}

#wa{
  position:relative;
}

#ha{
  position:relative;
}

#ku{
  position:relative;
}

#I{
  position:relative;
}

#ni{
  position:relative;
}

#ka{
  position:relative;
}

#gi{
  position:relative;
}

#ru{
  position:relative;
}

#IA{
    font-size:30px;
    
    margin:0px 0px 0px 50px;
    height:50px;
    width:900px;
    text-align:center;
    background-color:orange;
}

#intro{
    margin:10px 0px 10px 0px;
    height:50px;
    text-align:center;
    background-color:white;
}

#uehehe{
  font-size:17px;
  margin:-200px auto 0px 100px;
  height:30px;
  width:200px;
  line-height:30px;
  text-align:center;
  background-color:darkorange;
  color:#333;
}

#uhehehe ul{
    background-color:white;  
}

#uhehehe li{
    height:25px;
    margin:0px 0px 0px 100px;
    background-color:white;  
}