h1{
  width:500px;
  height:40px;
  background-color:orange;
  margin:30px auto 0px;
  vertical-align:center;
  text-align:middle;
  text-height:100px;
  font-family:'Meiryo';
  color:white;
  padding:20px 0px 20px 100px;
}

#hare{
  width:800px;
  height:550px;
  margin:30px 100px 0px 100px;
  padding:0px:
}

#main{
  margin:50px 0px 50px 50px;
}

