a:link {  color: #6699ff}
a:visited {  color: #cc66cc}
a:hover {  color: #FF6666; text-decoration: underline}
a {  text-decoration: none}
img {  border:none}
body {  background-color:#000000; color:#aaaaaa}